serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
system:
  name: systemone
  pathName: systemOne
dockerRepository:
  url: docker.epc.ub.uu.se/
initContainer:
  waitForDb:
    - name: init-wait-for-db
      image: alpine
      command:
        - /bin/sh
        - -c
        - while ! nc -zvw1 systemone-postgresql 5432; do sleep 1; done
  waitForMq:
    - name: init-wait-for-mq
      image: alpine
      command:
        - sh
        - -c
        - until nc -z -v -w1 systemone-rabbitmq 5672; do echo "Waiting for RabbitMQ..";
          sleep 5; done
deploy:
  fitnesse: false
  jsclient: true
externalPath:
  login: /login/rest/
port:
  rest: 30080
  login: 30180
  jsclient: 30280
  idplogin: 30380
  fitnesse: 30580
docker:
  rabbitmq: cora-docker-rabbitmq:1.2.0
  fedora: cora-docker-fedora:1.1.0
  solr: cora-docker-solr:1.1.0
  idplogin: cora-docker-idplogin:1.1.0
  iip: cora-docker-iipimageserver:1.1.0
  postgresql: systemone-docker-postgresql:1.1.0
  fitnesse: systemone-docker-fitnesse:1.3.0
  gatekeeper: cora-docker-gatekeeper:1.1.0
  rest: systemone-docker:1.0-SNAPSHOT
  login: cora-docker-login:1.1.0
  jsclient: cora-docker-jsclient:1.0.0
